<%- include("header") -%>
<div class=box>
      <h2>The best page EU!</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque quisquam ipsum, provident libero porro magnam harum odio minus saepe doloremque necessitatibus explicabo accusamus distinctio quod praesentium obcaecati fuga quasi aperiam.</p>
</div>

<%- include("footer") -%>