<%- include("header") -%>
<div class="box" id="heading">
   <h1>Best Page EU</h1>
</div>
<div class="box">
   <form method="POST" action="delete">
      <div class="item">
         <input type="checkbox" name="removeItem" value="itemId" onChange="this.form.submit()">
         <p>Item 1 </p>
      </div>
      <div class="item">
         <input type="checkbox" name="removeItem" value="itemId" onChange="this.form.submit()">
         <p>Item 2 </p>
      </div>
      <div class="item">
         <input type="checkbox" name="removeItem" value="itemId" onChange="this.form.submit()">
         <p>Item 2 </p>
      </div>
   </form>

   <form class="item" action="/" method="POST">
         <input type="text" name="addItem" id="add-item" placeholder="New Item" autocomplete="off">
         <button type="submit" name="source" value="">+</button>
   </form>
</div>

<%- include("footer") -%>