<%- include("header") -%>
<div class="box" id="heading">
   <h1>Best Page EU</h1>
</div>
<div class="box">
   <form method="POST" action="delete">
      <% for (const item of items) { %>
         <div class="item">
            <input type="checkbox" name="removeItem" value="itemId" onChange="this.form.submit()">
            <p><%= item.name %></p>
         </div>
      <% } %>
   </form>

   <form class="item" action="/" method="POST">
         <input type="text" name="addItem" id="add-item" placeholder="New Item" autocomplete="off">
         <button type="submit" name="source" value="">+</button>
   </form>
</div>

<%- include("footer") -%>